<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pocketsoccer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_game"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_game_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".views.ScoresActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".views.statistics.StatisticsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".views.settings.SettingsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>